@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
/* ----------- dection home ------------- */
.home {
    background-color: #0162be;
    width: 100%;
    height: 100vh;
    color: white;
    padding: 0px 7rem;
    overflow: hidden;
}

/* --------------- header------------------ */
header {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo img {
    width: 60px;
}

/* navigation bar */
.navigation {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    border-bottom: 5px dotted transparent;
    padding-bottom: 3px;
}

.navigation a:hover {
    border-bottom: 5px dotted #fff;
    padding-bottom: 3px;
}

/* --------------- main content------------------ */
.content {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* text part */
.text h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
}

.text h1 span {
    font-size: 70px;
}

.text p {
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 55%;
}

.text .btn {
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.text .btn:hover {
    border: 2px solid #fff;
    color: white;
    background-color: transparent;
}

/* text img */
.img img {
    width: 220px;
    animation: animation1 2s ease;
}

/* sochial */
.social {
    display: flex;
    flex-direction: column;
    animation: animation1 2s ease;
}

.social a {
    color: white;
    margin-left: 3rem;
    margin-bottom: 10px;
    font-size: 25px;
}

.gallery {
    width: 100%;
    animation: animation2 1s ease;
}

.gallery img {
    display: block;
    width: 100px;
    margin: auto;
}

/* animation  */
@keyframes animation1 {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animation2 {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0px);
    }
}
/* tablet */
@media (max-width:1024px) {
    .home {
        padding: 0 5rem;
    }

    .logo img {
        width: 80px;
    }

    .navigation {
        width: 60%;
        margin-top: 15px;
    }

    .navigation a {
        font-size: 1.2em;
    }

    .text p {
        width: 75%;
        margin: 30px 0;
        font-size: 1.2em;
    }

    .social a {
        margin-left: 1rem;
        margin-bottom: 12px;
        font-size: 30px;
    }

    .gallery img {
        width: 200px;
    }

}

@media (width:1024px) {
    .gallery img {
        width: 100px;
    }
}

/* phone */
@media (max-width:600px) {
    .home {
        padding: 0px 2rem;
    }

    header {
        flex-direction: column;
    }

    .logo img {
        width: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navigation {
        width: 100%;
        margin-top: 15px;
    }

    .text {
       margin: 15px auto 20px;
       text-align: center;
    }

    .text h1 {
        font-size: 35px;
        text-align: center;
    }

    .text h1 span {
        font-size: 50px;
    }

    .text p {
        width: 100%;
        text-align: center;
        font-size: 0.9em;
        letter-spacing: 1px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .text .btn {
        font-size: 12px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .img img {
        width: 8em;
        height: 150px;
    }

    .social {
        margin-top: 5px;
        flex-direction: row;
    }

    .social a {
        font-size: 18px;
        margin-left: 3px;
    }

    .gallery img {
        width: 60px;
        margin-top: 15px;
    }
}

@media (min-height: 744px) and (max-height: 916px) {
    .logo img {
        width: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navigation {
        width: 100%;
        margin-top: 20px;
    }

    .text {
        margin: 50px auto 20px;
        text-align: center;
     }

     .text p {
        margin-top: 20px;
        margin-bottom: 30px;
     }

     .img img {
        height: 200px;
        width: 9em;
     }

     .gallery img {
        width: 100px;
     }
}
